body {
  margin: 0;
}

.container {
  max-width: 1712px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 1366px) {
  .container {
    max-width: 1044px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 100%;
  }
}

.header {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 84px;
  display: flex;
}
.header__container {
  display: flex;
  align-items: center;
  width: 100%;
}
.header__logo {
  text-decoration: none;
  color: #000;
  font-family: "Crimson Text";
  font-size: 16px;
  font-weight: 400;
}
.header__menu {
  display: flex;
  gap: 74px;
  margin-left: auto;
}
@media (max-width: 992px) {
  .header__menu {
    gap: 48px;
  }
}
@media (max-width: 730px) {
  .header__menu {
    display: none;
  }
}
.header__link {
  color: #000;
  font-family: "Crimson Text";
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.header__burger {
  display: none;
  width: 63px;
  border: 1px solid #8E9A82;
  background: #8E9A82;
  border-radius: 6px;
}
@media (max-width: 730px) {
  .header__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-direction: column;
    margin-left: auto;
  }
}
.header__burger span {
  display: flex;
  width: 41px;
  height: 5px;
  background: #D9D9D9;
}

.hero {
  overflow: hidden;
  padding-top: 257px;
  padding-bottom: 204px;
}
@media (max-width: 1366px) {
  .hero {
    padding-top: 182px;
    padding-bottom: 144px;
  }
}
@media (max-width: 992px) {
  .hero {
    padding-top: 160px;
    padding-bottom: 101px;
  }
}
@media (max-width: 375px) {
  .hero {
    padding: 98px 0;
  }
}
.hero__flex {
  display: flex;
  align-items: center;
}
@media (max-width: 375px) {
  .hero__flex {
    flex-direction: row-reverse;
  }
}
.hero__content {
  max-width: 1050px;
  padding-left: 68px;
  box-sizing: border-box;
}
@media (max-width: 1366px) {
  .hero__content {
    max-width: 535px;
    padding-left: 99px;
  }
}
@media (max-width: 992px) {
  .hero__content {
    max-width: 519px;
    padding-left: 0;
  }
}
@media (max-width: 375px) {
  .hero__content {
    max-width: 166px;
  }
}
.hero__title {
  margin-top: 0;
  color: #000;
  font-family: "Crimson Text";
  font-size: 90px;
  font-weight: 400;
  letter-spacing: 13px;
  margin-bottom: 56px;
}
@media (max-width: 1366px) {
  .hero__title {
    font-size: 48px;
    letter-spacing: 1px;
    margin-bottom: 45px;
  }
}
@media (max-width: 992px) {
  .hero__title {
    margin-bottom: 8px;
    letter-spacing: -1px;
  }
}
@media (max-width: 375px) {
  .hero__title {
    font-size: 32px;
    letter-spacing: 4.8px;
    white-space: nowrap;
  }
}
.hero__img {
  width: 578px;
  background: lightgray;
}
@media (max-width: 1366px) {
  .hero__img {
    width: 410px;
  }
}
@media (max-width: 992px) {
  .hero__img {
    width: 40%;
  }
}
@media (max-width: 375px) {
  .hero__img {
    display: none;
  }
}
.hero__img--rounded {
  display: none;
}
@media (max-width: 375px) {
  .hero__img--rounded {
    display: block;
    width: 220px;
    height: 228px;
    margin-top: 18px;
    margin-right: -55px;
    flex-shrink: 0;
  }
}
.hero__text {
  margin-top: 0;
  color: #000;
  font-size: 36px;
  font-weight: 400;
  font-family: "Crimson Text";
}
@media (max-width: 1366px) {
  .hero__text {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .hero__text {
    font-size: 14px;
  }
}
.hero__button {
  width: 291px;
  height: 78px;
  background-color: #8E9A82;
  border-radius: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Crimson Text";
  color: #FFF;
  border: none;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  transition: all 0.3s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .hero__button {
    width: 227px;
    height: 43px;
  }
}
@media (max-width: 375px) {
  .hero__button {
    width: 152px;
    height: 32px;
  }
}
.hero__button:hover {
  background: #709970;
}

.shop {
  padding-top: 80px;
}
.shop__flex {
  display: flex;
  gap: 26px;
}
.shop__title {
  margin-top: 0;
  text-align: center;
  font-family: "Crimson Text";
  color: #000;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 7.2px;
}
@media (max-width: 1366px) {
  .shop__title {
    font-size: 32px;
    letter-spacing: 4.8px;
  }
}
@media (max-width: 992px) {
  .shop__title {
    max-width: 311px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 992px) {
  .shop__title {
    font-size: 20px;
    letter-spacing: 3px;
  }
}

/*# sourceMappingURL=styles.css.map */
