body {
    margin: 0;
}

.container {
    max-width: 1712px;
    box-sizing: border-box;
    margin: 0 auto;

    @media (max-width:1366px) {
        max-width: 1044px;
    }

    @media (max-width:992px) {
        max-width: 100%;
    }
}