@use "variables" as *;

.hero {
    overflow: hidden;
    padding-top: 257px;
    padding-bottom: 204px;

    @media (max-width:1366px) {
        padding-top: 182px;
        padding-bottom: 144px;
    }

     @media (max-width:992px) {
        padding-top: 160px;
        padding-bottom: 101px;

        }


    @media (max-width:375px) {
        padding-top: 102px;
        padding-left: 15px;
    }

    &__flex {
        display: flex;
        align-items: center;

        @media (max-width:375px) {
            flex-direction: row-reverse;
            align-items: flex-start;
        }
    }

    &__content {
        max-width: 1050px;
        padding-left: 68px;
        box-sizing: border-box;

        @media (max-width:1366px) {
            max-width: 535px;
            padding-left: 99px;
        }

        @media (max-width:992px) {
            max-width: 519px;
            padding-left: 0;
        }

        @media (max-width:375px) {
            max-width: 166px;
        }
    }

    &__title {
        margin-top: 0;
        color: #000;
        font-family: $font-crimson;
        font-size: 90px;
        font-weight: 400;
        letter-spacing: 13px;
        margin-bottom: 56px;

        @media (max-width:1366px) {
            font-size: 48px;
            letter-spacing: 1px;
            margin-bottom: 45px;
        }

        @media (max-width:992px) {
            margin-bottom: 8px;
            letter-spacing: -1px;
        }

        @media (max-width:375px) {
            font-size: 32px;
            letter-spacing: 4.8px;
            white-space: nowrap;
        }
    }

  &__img {
    width: 578px;
    background: lightgray;

    @media (max-width: 1366px) {
      width: 410px;
    }

    @media (max-width: 992px) {
      width: 40%;
    }

    @media (max-width: 375px) {
      display: none;
    }

    &--rounded {
      display: none; 

      @media (max-width: 375px) {
        display: block;
        width: 220px;
        height: 282px;
        margin-top: 43px;
        margin-right: -55px;
        flex-shrink: 0;
      }
    }
  }

    &__text {
        margin-top: 0;
        color: #000;
        font-size: 36px;
        font-weight: 400;
        font-family: $font-crimson;

        @media (max-width:1366px) {
            font-size: 20px;
        }

        @media (max-width:375px) {
            font-size: 14px;
        }
    }

    &__button {
        width: 291px;
        height: 78px;
        background-color: $colorsage;
        border-radius: 59px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-crimson;
        color: #FFF;
        border: none;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 3px;
        transition: all 0.3s;
        cursor: pointer;

        @media (max-width:992px) {
            width: 227px;
            height: 43px;
        }

        @media (max-width:375px) {
            width: 152px;
            height: 32px;
        }

        &:hover {
            background: #709970;
        }

    }
}