@use "variables" as *;

.shop {
    padding-top: 80px;
    overflow: hidden;

        @media (max-width: 375px) {
              padding-top: 19px;
            }

    &__flex {
        display: flex;
        gap: 26px;
        margin-bottom: 22px;

        @media (max-width: 1366px) {
            gap: 16px;
        }

        @media (max-width: 992px) {
            gap: 12px;
        }
    }

    &__title {
        margin-top: 0;
        text-align: center;
        font-family: $font-crimson;
        color: #000;
        text-align: center;
        font-size: 48px;
        font-weight: 400;
        letter-spacing: 7.2px;

        @media (max-width:1366px) {
            font-size: 32px;
            letter-spacing: 4.8px;
        }

        @media (max-width:992px) {
            max-width: 311px;
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width:992px) {
            font-size: 20px;
            letter-spacing: 3px;
        }
    }

    &__banner {
        width: 100%;
        height: auto;
    }


    &__img {
        width: 100%;
        min-width: 0;
        height: auto;

        &--eucalyptus {

            @media (max-width: 375px) {
                margin-left: -65px;
            }
        }

        &--palm {
              @media (max-width: 375px) {
                margin-right: -65px;
            }
        }
    }

}